{{ define "main" -}}
<div class="td-content">
  <h1>Oops! 404 - Not Found</h1>
  <p>This page seems to be lost in the digital wilderness.</p>
  <img src="https://example.com/lost.gif" alt="Lost in the code">
  <p>But don't worry, you can always go back to the <a href="{{ "" | relURL }}">home page</a>.</p>
  <p>Feel free to explore other pages or check out some <a href="{{ "/blog" | relURL }}">interesting blog posts</a>.</p>
  <p>If you're feeling adventurous, you can also <a href="{{ "/contact" | relURL }}">contact us</a> for assistance.</p>
</div>
{{- end }}

